# Recommender Systems - Popularity Based

In [1]:
import pandas as pd
import numpy as np

In [11]:
r_cols = ['user_id', 'movie_id', 'rating']
ratings = pd.read_csv('ml-100k/u.data', sep='\t', header=None, usecols=range(3), names=r_cols)
ratings.head()

   user_id  movie_id  rating
0      196       242       3
1      186       302       3
2       22       377       1
3      244        51       2
4      166       346       1

In [18]:
r_cols = ['movie_id', 'title']
movies = pd.read_csv('ml-100k/u.item', encoding='iso-8859-1', sep='|', header=None, names=r_cols, usecols=range(2))
movies.head()

   movie_id              title
0         1   Toy Story (1995)
1         2   GoldenEye (1995)
2         3  Four Rooms (1995)
3         4  Get Shorty (1995)
4         5     Copycat (1995)

In [26]:
r_cols = ['user_id', 'age', 'sex', 'profession', 'zipcode']
user = pd.read_table('ml-100k/u.user', sep='|', header=None, names=r_cols)
user.head()

   user_id  age sex  profession zipcode
0        1   24   M  technician   85711
1        2   53   F       other   94043
2        3   23   M      writer   32067
3        4   24   M  technician   43537
4        5   33   F       other   15213