# "Human Learning" with iris data

Can you predict the species of an iris using petal and sepal measurements?

TASKS:
1. Read iris data into a pandas DataFrame, including column names.
2. Gather some basic information about the data.
3. Use groupby, sorting, and/or plotting to look for differences between species.
4. Come up with a set of rules that could be used to predict species based upon measurements.

BONUS: Define a function that accepts a row of data and returns a predicted species.
Then, use that function to make predictions for all existing rows of data.

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

## Task 1

In [3]:
# read the iris data into a pandas DataFrame, including column names
df = pd.read_json('iris.json')

## Task 2

In [4]:
# gather basic information
df.head()

                                             columns
0  {'name': 'sepal_length', 'type': 'number', 'la...
1  {'name': 'sepal_width', 'type': 'number', 'lab...
2  {'name': 'petal_length', 'type': 'number', 'la...
3  {'name': 'petal_width', 'type': 'number', 'lab...
4  {'name': 'species', 'type': 'string', 'label':...

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 1 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   columns  5 non-null      object
dtypes: object(1)
memory usage: 172.0+ bytes

In [6]:
df.shape

(5, 1)

In [7]:
df.describe()

                                                  columns
count                                                   5
unique                                                  5
top     {'name': 'sepal_length', 'type': 'number', 'la...
freq                                                    1

## Task 3

In [14]:
# use groupby to look for differences between the species
df.groupby('columns')

In [ ]:
# use sorting to look for differences between the species

In [ ]:
# use plotting to look for differences between the species

In [ ]:
# map species to a numeric value so that plots can be colored by category

## Task 4

## Bonus

In [ ]:
# define function that accepts a row of data and returns a predicted species