# World military powers clustering

In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)

# Helper function to show the null values of a given dataframe.
# Only shows null value counts for columns with non-zero null values.
# Can be configured to show percentages instead of counts.
def nulls(df, percentage=False):
    vals = df.isnull().sum()[df.isnull().sum() > 0]
    if percentage:
        return vals * 100 / len(df)
    return vals

In [2]:
# header=1 makes the column names appropriate
# thousands=',' tells pandas to parse commas as a thousand separator. Helps when convertin to float.
df = pd.read_excel('military.xlsx', header=1, thousands=',')

In [3]:
df.head()

,Military Strength,Military Strength Power Index,Aircraft Strength,Aircraft Strength value,Fighter/Interceptor Strength,Fighter/Interceptor Strength value,Attack Aircraft Strength,Attack Aircraft Strength value,Transport Aircraft Fleet Strength,Transport Aircraft Fleet Strength value,Trainer Aircraft Fleet,Trainer Aircraft Fleet value,Helicopter Fleet Strength,Helicopter Fleet Strength value,Attack Helicopter Fleet Strength,Attack Helicopter Fleet Strength value,Tank Strength,Tank Strength value,AFV/APC Strength,AFV/APC Strength value,Self-Propelled Artillery Strength,Self-Propelled Artillery Strength value,Towed Artillery Strength,Towed Artillery Strength value,Rocket Projector Strength,Rocket Projector Strength value,Navy Fleet Strengths,Navy Fleet Strengths value,Aircraft Carrier Fleet Strength,Aircraft Carrier Fleet Strength value,Submarine Fleet Strength,Submarine Fleet Strength value,Destroyer Fleet Strength,Destroyer Fleet Strength value,Frigate Fleet Strength,Frigate Fleet Strength value,defense spending budget,defense spending budget value,External Debt,External Debt value,Airport Totals,Airport Totals value,Oil Production,Oil Production value,Oil Consumption,Oil Consumption value,Proven Oil Reserves,Proven Oil Reserves value,Available Manpower,Available Manpower value,Total Population,Total Population value,Total Square Land Area,Total Square Land Area value,Total Coastline Coverage,Total Coastline Coverage value,Total Waterway Coverage,Total Waterway Coverage value,Total Border Coverage,Total Border Coverage value
0,Afghanistan,1.3444,Afghanistan,260,Afghanistan,0,Afghanistan,25,Afghanistan,30,Afghanistan,0,Afghanistan,187,Afghanistan,0,Afghanistan,0,Afghanistan,1062,Afghanistan,0,Afghanistan,176,Afghanistan,50,Afghanistan,0.0,Afghanistan,0.0,Afghanistan,0.0,Afghanistan,0.0,Afghanistan,0.0,Afghanistan,12000000000,Afghanistan,2840000000,Afghanistan,43,Afghanistan,0,Afghanistan,5500,Afghanistan,0,Afghanistan,14325743,Afghanistan,34940837,Afghanistan,652230,Afghanistan,0.0,Afghanistan,1200,Afghanistan,5987.0
1,Albania,2.3137,Albania,19,Albania,0,Albania,0,Albania,0,Albania,0,Albania,19,Albania,0,Albania,0,Albania,467,Albania,0,Albania,0,Albania,0,Albania,38.0,Albania,0.0,Albania,0.0,Albania,0.0,Albania,0.0,Albania,250000000,Albania,9505000000,Albania,4,Albania,16000,Albania,42500,Albania,168300000,Albania,1519438,Albania,3057220,Albania,28748,Albania,362.0,Albania,41,Albania,691.0
2,Algeria,0.4659,Algeria,551,Algeria,103,Algeria,22,Algeria,59,Algeria,87,Algeria,257,Algeria,45,Algeria,880,Algeria,7361,Algeria,320,Algeria,240,Algeria,316,Algeria,201.0,Algeria,0.0,Algeria,6.0,Algeria,0.0,Algeria,5.0,Algeria,13000000000,Algeria,6260000000,Algeria,157,Algeria,1306000,Algeria,325000,Algeria,12200000000,Algeria,20741263,Algeria,41657488,Algeria,2381741,Algeria,998.0,Algeria,0,Algeria,6734.0
3,Angola,0.8379,Angola,295,Angola,72,Angola,18,Angola,30,Angola,47,Angola,126,Angola,15,Angola,379,Angola,595,Angola,28,Angola,357,Angola,115,Angola,57.0,Angola,0.0,Angola,0.0,Angola,0.0,Angola,0.0,Angola,7000000000,Angola,42080000000,Angola,176,Angola,1666000,Angola,82300,Angola,8273000000,Angola,6244205,Angola,30355880,Angola,1246700,Angola,1600.0,Angola,1300,Angola,5369.0
4,Argentina,0.6521,Argentina,227,Argentina,24,Argentina,7,Argentina,9,Argentina,64,Argentina,100,Argentina,0,Argentina,370,Argentina,739,Argentina,83,Argentina,172,Argentina,26,Argentina,49.0,Argentina,0.0,Argentina,2.0,Argentina,4.0,Argentina,0.0,Argentina,4200000000,Argentina,214900000000,Argentina,1138,Argentina,479400,Argentina,685000,Argentina,2185000000,Argentina,20179430,Argentina,44694198,Argentina,2780400,Argentina,4989.0,Argentina,11000,Argentina,11968.0

The table currently shows the country name before the associated value for each column. Like 'Military Strength' and 'Military Strength Power Index'. We do not need all these columns that show the country name, we only need one column for that. We will drop all these duplicate columns, all but one of them, and then rename the remaining one as 'Country'.

In [4]:
df = df.T.drop_duplicates().T
df.head()

,Military Strength,Military Strength Power Index,Aircraft Strength value,Fighter/Interceptor Strength value,Attack Aircraft Strength value,Transport Aircraft Fleet Strength value,Trainer Aircraft Fleet value,Helicopter Fleet Strength value,Attack Helicopter Fleet Strength value,Tank Strength value,AFV/APC Strength value,Self-Propelled Artillery Strength value,Towed Artillery Strength value,Rocket Projector Strength value,Navy Fleet Strengths,Navy Fleet Strengths value,Aircraft Carrier Fleet Strength,Aircraft Carrier Fleet Strength value,Submarine Fleet Strength value,Destroyer Fleet Strength value,Frigate Fleet Strength value,defense spending budget value,External Debt value,Airport Totals value,Oil Production value,Oil Consumption value,Proven Oil Reserves value,Available Manpower value,Total Population value,Total Square Land Area value,Total Coastline Coverage,Total Coastline Coverage value,Total Waterway Coverage value,Total Border Coverage,Total Border Coverage value
0,Afghanistan,1.3444,260,0,25,30,0,187,0,0,1062,0,176,50,Afghanistan,0.0,Afghanistan,0.0,0.0,0.0,0.0,12000000000,2840000000,43,0,5500,0,14325743,34940837,652230,Afghanistan,0.0,1200,Afghanistan,5987.0
1,Albania,2.3137,19,0,0,0,0,19,0,0,467,0,0,0,Albania,38.0,Albania,0.0,0.0,0.0,0.0,250000000,9505000000,4,16000,42500,168300000,1519438,3057220,28748,Albania,362.0,41,Albania,691.0
2,Algeria,0.4659,551,103,22,59,87,257,45,880,7361,320,240,316,Algeria,201.0,Algeria,0.0,6.0,0.0,5.0,13000000000,6260000000,157,1306000,325000,12200000000,20741263,41657488,2381741,Algeria,998.0,0,Algeria,6734.0
3,Angola,0.8379,295,72,18,30,47,126,15,379,595,28,357,115,Angola,57.0,Angola,0.0,0.0,0.0,0.0,7000000000,42080000000,176,1666000,82300,8273000000,6244205,30355880,1246700,Angola,1600.0,1300,Angola,5369.0
4,Argentina,0.6521,227,24,7,9,64,100,0,370,739,83,172,26,Argentina,49.0,Argentina,0.0,2.0,4.0,0.0,4200000000,214900000000,1138,479400,685000,2185000000,20179430,44694198,2780400,Argentina,4989.0,11000,Argentina,11968.0

The above code looks weird. I could not find how to directly remove columns with all duplicated values. But there is the drop_duplicates() function that removes all the duplicated rows and keeps the first one. So I took the transpose of the dataframe, called drop_duplicates() on it and then took the transpose again to get the table back to the original shape. It worked, but the problem this time is that some of the columns we wanted to remove had 'NaN' values and as such pandas did not count them as duplicated and it did not drop them. These columns are:

- Navy Fleet Strengths
- Aircraft Carrier Fleet Strength
- Total Coastline Coverage
- Total Border Coverage

Since there aren't that many, we can just drop these columns by hand.

In [5]:
to_drop = ['Navy Fleet Strengths', 'Aircraft Carrier Fleet Strength', 'Total Coastline Coverage', 'Total Border Coverage']
df.drop(to_drop, axis=1, inplace=True)

And now to rename the 'Country' column

In [6]:
df.rename(columns={ 'Military Strength': 'Country' }, inplace=True)

In [7]:
df.head()

,Country,Military Strength Power Index,Aircraft Strength value,Fighter/Interceptor Strength value,Attack Aircraft Strength value,Transport Aircraft Fleet Strength value,Trainer Aircraft Fleet value,Helicopter Fleet Strength value,Attack Helicopter Fleet Strength value,Tank Strength value,AFV/APC Strength value,Self-Propelled Artillery Strength value,Towed Artillery Strength value,Rocket Projector Strength value,Navy Fleet Strengths value,Aircraft Carrier Fleet Strength value,Submarine Fleet Strength value,Destroyer Fleet Strength value,Frigate Fleet Strength value,defense spending budget value,External Debt value,Airport Totals value,Oil Production value,Oil Consumption value,Proven Oil Reserves value,Available Manpower value,Total Population value,Total Square Land Area value,Total Coastline Coverage value,Total Waterway Coverage value,Total Border Coverage value
0,Afghanistan,1.3444,260,0,25,30,0,187,0,0,1062,0,176,50,0.0,0.0,0.0,0.0,0.0,12000000000,2840000000,43,0,5500,0,14325743,34940837,652230,0.0,1200,5987.0
1,Albania,2.3137,19,0,0,0,0,19,0,0,467,0,0,0,38.0,0.0,0.0,0.0,0.0,250000000,9505000000,4,16000,42500,168300000,1519438,3057220,28748,362.0,41,691.0
2,Algeria,0.4659,551,103,22,59,87,257,45,880,7361,320,240,316,201.0,0.0,6.0,0.0,5.0,13000000000,6260000000,157,1306000,325000,12200000000,20741263,41657488,2381741,998.0,0,6734.0
3,Angola,0.8379,295,72,18,30,47,126,15,379,595,28,357,115,57.0,0.0,0.0,0.0,0.0,7000000000,42080000000,176,1666000,82300,8273000000,6244205,30355880,1246700,1600.0,1300,5369.0
4,Argentina,0.6521,227,24,7,9,64,100,0,370,739,83,172,26,49.0,0.0,2.0,4.0,0.0,4200000000,214900000000,1138,479400,685000,2185000000,20179430,44694198,2780400,4989.0,11000,11968.0

The table is now in a shape we can work with. We will save it into a csv file. It could be useful in the future.

In [8]:
df.to_csv('militarypowers.csv', index=False)

## EDA

In [9]:
df.shape

(138, 31)

In [10]:
nulls(df)

Navy Fleet Strengths value               14
Aircraft Carrier Fleet Strength value    23
Submarine Fleet Strength value           23
Destroyer Fleet Strength value           23
Frigate Fleet Strength value             23
Total Coastline Coverage value           29
Total Border Coverage value               9
dtype: int64

In [11]:
nulls(df, percentage=True)

Navy Fleet Strengths value               10.144928
Aircraft Carrier Fleet Strength value    16.666667
Submarine Fleet Strength value           16.666667
Destroyer Fleet Strength value           16.666667
Frigate Fleet Strength value             16.666667
Total Coastline Coverage value           21.014493
Total Border Coverage value               6.521739
dtype: float64

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 138 entries, 0 to 137
Data columns (total 31 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Country                                  138 non-null    object
 1   Military Strength Power Index            138 non-null    object
 2   Aircraft Strength value                  138 non-null    object
 3   Fighter/Interceptor Strength value       138 non-null    object
 4   Attack Aircraft Strength value           138 non-null    object
 5   Transport Aircraft Fleet Strength value  138 non-null    object
 6   Trainer Aircraft Fleet value             138 non-null    object
 7   Helicopter Fleet Strength value          138 non-null    object
 8   Attack Helicopter Fleet Strength value   138 non-null    object
 9   Tank Strength value                      138 non-null    object
 10  AFV/APC Strength value                   138 non-null    object
 11  Self-Propelled Artillery Strength value  138 non-null    object
 12  Towed Artillery Strength value           138 non-null    object
 13  Rocket Projector Strength value          138 non-null    object
 14  Navy Fleet Strengths value               124 non-null    object
 15  Aircraft Carrier Fleet Strength value    115 non-null    object
 16  Submarine Fleet Strength value           115 non-null    object
 17  Destroyer Fleet Strength value           115 non-null    object
 18  Frigate Fleet Strength value             115 non-null    object
 19  defense spending budget value            138 non-null    object
 20  External Debt value                      138 non-null    object
 21  Airport Totals value                     138 non-null    object
 22  Oil Production value                     138 non-null    object
 23  Oil Consumption value                    138 non-null    object
 24  Proven Oil Reserves value                138 non-null    object
 25  Available Manpower value                 138 non-null    object
 26  Total Population value                   138 non-null    object
 27  Total Square Land Area value             138 non-null    object
 28  Total Coastline Coverage value           109 non-null    object
 29  Total Waterway Coverage value            138 non-null    object
 30  Total Border Coverage value              129 non-null    object
dtypes: object(31)
memory usage: 33.6+ KB

All these columns are objects, we need to conver them info floats. We will convert all these columns, except the country names of course, into float. Some columns have numbers that use a comma for better readability. We will remove thsese as pandas cannot parse strings with commas between digits.

In [13]:
df.head()

,Country,Military Strength Power Index,Aircraft Strength value,Fighter/Interceptor Strength value,Attack Aircraft Strength value,Transport Aircraft Fleet Strength value,Trainer Aircraft Fleet value,Helicopter Fleet Strength value,Attack Helicopter Fleet Strength value,Tank Strength value,AFV/APC Strength value,Self-Propelled Artillery Strength value,Towed Artillery Strength value,Rocket Projector Strength value,Navy Fleet Strengths value,Aircraft Carrier Fleet Strength value,Submarine Fleet Strength value,Destroyer Fleet Strength value,Frigate Fleet Strength value,defense spending budget value,External Debt value,Airport Totals value,Oil Production value,Oil Consumption value,Proven Oil Reserves value,Available Manpower value,Total Population value,Total Square Land Area value,Total Coastline Coverage value,Total Waterway Coverage value,Total Border Coverage value
0,Afghanistan,1.3444,260,0,25,30,0,187,0,0,1062,0,176,50,0.0,0.0,0.0,0.0,0.0,12000000000,2840000000,43,0,5500,0,14325743,34940837,652230,0.0,1200,5987.0
1,Albania,2.3137,19,0,0,0,0,19,0,0,467,0,0,0,38.0,0.0,0.0,0.0,0.0,250000000,9505000000,4,16000,42500,168300000,1519438,3057220,28748,362.0,41,691.0
2,Algeria,0.4659,551,103,22,59,87,257,45,880,7361,320,240,316,201.0,0.0,6.0,0.0,5.0,13000000000,6260000000,157,1306000,325000,12200000000,20741263,41657488,2381741,998.0,0,6734.0
3,Angola,0.8379,295,72,18,30,47,126,15,379,595,28,357,115,57.0,0.0,0.0,0.0,0.0,7000000000,42080000000,176,1666000,82300,8273000000,6244205,30355880,1246700,1600.0,1300,5369.0
4,Argentina,0.6521,227,24,7,9,64,100,0,370,739,83,172,26,49.0,0.0,2.0,4.0,0.0,4200000000,214900000000,1138,479400,685000,2185000000,20179430,44694198,2780400,4989.0,11000,11968.0

In [19]:
# errors='ignore' will be removed in later pandas.
df = df.apply(pd.to_numeric, errors='ignore')

In [20]:
df.head()

,Country,Military Strength Power Index,Aircraft Strength value,Fighter/Interceptor Strength value,Attack Aircraft Strength value,Transport Aircraft Fleet Strength value,Trainer Aircraft Fleet value,Helicopter Fleet Strength value,Attack Helicopter Fleet Strength value,Tank Strength value,AFV/APC Strength value,Self-Propelled Artillery Strength value,Towed Artillery Strength value,Rocket Projector Strength value,Navy Fleet Strengths value,Aircraft Carrier Fleet Strength value,Submarine Fleet Strength value,Destroyer Fleet Strength value,Frigate Fleet Strength value,defense spending budget value,External Debt value,Airport Totals value,Oil Production value,Oil Consumption value,Proven Oil Reserves value,Available Manpower value,Total Population value,Total Square Land Area value,Total Coastline Coverage value,Total Waterway Coverage value,Total Border Coverage value
0,Afghanistan,1.3444,260,0,25,30,0,187,0,0,1062,0,176,50,0.0,0.0,0.0,0.0,0.0,12000000000,2840000000,43,0,5500,0,14325743,34940837,652230,0.0,1200,5987.0
1,Albania,2.3137,19,0,0,0,0,19,0,0,467,0,0,0,38.0,0.0,0.0,0.0,0.0,250000000,9505000000,4,16000,42500,168300000,1519438,3057220,28748,362.0,41,691.0
2,Algeria,0.4659,551,103,22,59,87,257,45,880,7361,320,240,316,201.0,0.0,6.0,0.0,5.0,13000000000,6260000000,157,1306000,325000,12200000000,20741263,41657488,2381741,998.0,0,6734.0
3,Angola,0.8379,295,72,18,30,47,126,15,379,595,28,357,115,57.0,0.0,0.0,0.0,0.0,7000000000,42080000000,176,1666000,82300,8273000000,6244205,30355880,1246700,1600.0,1300,5369.0
4,Argentina,0.6521,227,24,7,9,64,100,0,370,739,83,172,26,49.0,0.0,2.0,4.0,0.0,4200000000,214900000000,1138,479400,685000,2185000000,20179430,44694198,2780400,4989.0,11000,11968.0

In [21]:
df.describe()

,Military Strength Power Index,Aircraft Strength value,Fighter/Interceptor Strength value,Attack Aircraft Strength value,Transport Aircraft Fleet Strength value,Trainer Aircraft Fleet value,Helicopter Fleet Strength value,Attack Helicopter Fleet Strength value,Tank Strength value,AFV/APC Strength value,Self-Propelled Artillery Strength value,Towed Artillery Strength value,Rocket Projector Strength value,Navy Fleet Strengths value,Aircraft Carrier Fleet Strength value,Submarine Fleet Strength value,Destroyer Fleet Strength value,Frigate Fleet Strength value,defense spending budget value,External Debt value,Airport Totals value,Oil Production value,Oil Consumption value,Proven Oil Reserves value,Available Manpower value,Total Population value,Total Square Land Area value,Total Coastline Coverage value,Total Waterway Coverage value,Total Border Coverage value
count,138.000000,138.000000,138.000000,138.000000,138.000000,138.000000,138.000000,138.000000,138.000000,138.000000,138.000000,138.000000,138.000000,124.000000,115.000000,115.000000,115.000000,115.000000,1.380000e+02,1.380000e+02,138.000000,1.380000e+02,1.380000e+02,1.380000e+02,1.380000e+02,1.380000e+02,1.380000e+02,109.000000,138.000000,129.000000
mean,1.460716,388.471014,81.565217,25.760870,30.231884,82.833333,154.065217,25.623188,646.565217,2485.695652,212.159420,393.978261,156.934783,84.983871,0.382609,4.800000,2.052174,3.521739,1.399363e+10,5.194983e+11,290.043478,5.855524e+05,7.020187e+05,1.194412e+10,2.544297e+07,5.318058e+07,9.546746e+05,6171.330275,5464.130435,3964.224806
std,1.324018,1231.981859,230.324777,94.528222,92.330436,240.803721,520.183631,97.326091,1515.463683,5410.546392,688.028987,805.781703,484.380984,146.114165,1.971653,13.706958,10.000740,6.481211,6.731189e+10,1.847252e+12,1212.967393,1.667139e+06,2.168810e+06,4.275090e+10,8.450698e+07,1.651090e+08,2.225571e+06,20759.011908,16494.534600,3760.099671
min,0.060600,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.300000e+07,5.394000e+08,2.000000,0.000000e+00,2.000000e+03,0.000000e+00,1.327400e+05,5.979270e+05,6.970000e+02,0.000000,0.000000,29.000000
25%,0.574800,33.000000,0.000000,0.000000,3.000000,4.250000,15.250000,0.000000,19.250000,250.250000,0.000000,24.250000,0.000000,10.000000,0.000000,0.000000,0.000000,0.000000,3.255000e+08,9.361500e+09,33.500000,0.000000e+00,3.250000e+04,0.000000e+00,2.618384e+06,5.819450e+06,8.455325e+04,443.000000,0.000000,1587.000000
50%,1.034100,111.000000,17.000000,0.000000,9.000000,26.000000,44.000000,2.000000,153.000000,734.500000,23.000000,108.000000,24.000000,38.000000,0.000000,0.000000,0.000000,0.000000,2.100909e+09,3.997000e+10,68.000000,1.313000e+04,1.335000e+05,8.028500e+07,5.986089e+06,1.613910e+07,3.054200e+05,1566.000000,875.000000,2816.000000
75%,2.021525,290.250000,60.500000,15.750000,26.000000,79.250000,126.750000,17.750000,436.250000,2000.000000,97.250000,296.500000,99.750000,77.750000,0.000000,4.000000,0.000000,5.500000,6.957750e+09,1.830250e+11,150.750000,2.228600e+05,3.487500e+05,2.001500e+09,1.756708e+07,4.068887e+07,7.929618e+05,3444.000000,3050.000000,5267.000000
max,10.168100,13264.000000,2085.000000,742.000000,945.000000,2643.000000,5768.000000,967.000000,12950.000000,39253.000000,6083.000000,4465.000000,3860.000000,984.000000,20.000000,83.000000,91.000000,52.000000,7.500000e+11,1.791000e+13,13513.000000,1.058000e+07,2.000000e+07,3.009000e+11,7.528554e+08,1.384689e+09,1.709824e+07,202080.000000,110000.000000,22457.000000

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 138 entries, 0 to 137
Data columns (total 31 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Country                                  138 non-null    object
 1   Military Strength Power Index            138 non-null    float64
 2   Aircraft Strength value                  138 non-null    int64
 3   Fighter/Interceptor Strength value       138 non-null    int64
 4   Attack Aircraft Strength value           138 non-null    int64
 5   Transport Aircraft Fleet Strength value  138 non-null    int64
 6   Trainer Aircraft Fleet value             138 non-null    int64
 7   Helicopter Fleet Strength value          138 non-null    int64
 8   Attack Helicopter Fleet Strength value   138 non-null    int64
 9   Tank Strength value                      138 non-null    int64
 10  AFV/APC Strength value                   138 non-null    int64
 11  Self-Propelled Artillery Strength value  138 non-null    int64
 12  Towed Artillery Strength value           138 non-null    int64
 13  Rocket Projector Strength value          138 non-null    int64
 14  Navy Fleet Strengths value               124 non-null    float64
 15  Aircraft Carrier Fleet Strength value    115 non-null    float64
 16  Submarine Fleet Strength value           115 non-null    float64
 17  Destroyer Fleet Strength value           115 non-null    float64
 18  Frigate Fleet Strength value             115 non-null    float64
 19  defense spending budget value            138 non-null    int64
 20  External Debt value                      138 non-null    int64
 21  Airport Totals value                     138 non-null    int64
 22  Oil Production value                     138 non-null    int64
 23  Oil Consumption value                    138 non-null    int64
 24  Proven Oil Reserves value                138 non-null    int64
 25  Available Manpower value                 138 non-null    int64
 26  Total Population value                   138 non-null    int64
 27  Total Square Land Area value             138 non-null    int64
 28  Total Coastline Coverage value           109 non-null    float64
 29  Total Waterway Coverage value            138 non-null    int64
 30  Total Border Coverage value              129 non-null    float64
dtypes: float64(8), int64(22), object(1)
memory usage: 33.6+ KB