# YouTube comments

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('youtube.csv')

In [3]:
df.head()

,COMMENT_ID,AUTHOR,DATE,CONTENT,CLASS
0,LZQPQhLyRh80UYxNuaDWhIGQYNQ96IuCg-AYWqNPjpU,Julius NM,2013-11-07T06:20:48,"Huh, anyway check out this you[tube] channel: ...",1
1,LZQPQhLyRh_C2cTtd9MvFRJedxydaVW-2sNg5Diuo4A,adam riyati,2013-11-07T12:37:15,Hey guys check out my new channel and our firs...,1
2,LZQPQhLyRh9MSZYnf8djyk0gEF9BHDPYrrK-qCczIY8,Evgeny Murashkin,2013-11-08T17:34:21,just for test I have to say murdev.com,1
3,z13jhp0bxqncu512g22wvzkasxmvvzjaz04,ElNino Melendez,2013-11-09T08:28:43,me shaking my sexy ass on my channel enjoy ^_^ ﻿,1
4,z13fwbwp1oujthgqj04chlngpvzmtt3r3dw,GsMega,2013-11-10T16:05:38,watch?v=vtaRGgvGtWQ Check this out .﻿,1

In [4]:
df = df[['CONTENT', 'CLASS']]
df.head()

                                             CONTENT  CLASS
0  Huh, anyway check out this you[tube] channel: ...      1
1  Hey guys check out my new channel and our firs...      1
2             just for test I have to say murdev.com      1
3   me shaking my sexy ass on my channel enjoy ^_^ ﻿      1
4            watch?v=vtaRGgvGtWQ   Check this out .﻿      1

In [5]:
x = df['CONTENT']
y = df['CLASS']

In [6]:
def nlp_prep(col):
    col = col.str.lower()
    col = col.str.replace('[^\w\s]', '')
    col = col.str.replace('\n', '')
    col = col.str.replace('\d+', '')
    col = col.str.replace('\r', '')

    return col

In [7]:
df['CONTENT'] = nlp_prep(df['CONTENT'])

In [8]:
df.head()

                                             CONTENT  CLASS
0  huh, anyway check out this you[tube] channel: ...      1
1  hey guys check out my new channel and our firs...      1
2             just for test i have to say murdev.com      1
3   me shaking my sexy ass on my channel enjoy ^_^ ﻿      1
4            watch?v=vtarggvgtwq   check this out .﻿      1

In [9]:
x = df['CONTENT']
y = df['CLASS']

In [10]:
from sklearn.feature_extraction.text import CountVectorizer as cv
from sklearn.model_selection import train_test_split as tts
from sklearn.metrics import accuracy_score as accs
from sklearn.naive_bayes import BernoulliNB
from textblob import TextBlob
from nltk.stem import PorterStemmer

In [11]:
b = BernoulliNB()
pr = PorterStemmer()

In [12]:
v = cv()

In [13]:
x = v.fit_transform(x)

In [14]:
x_train, x_test, y_train, y_test = tts(x, y, random_state=42, test_size=.2)

In [15]:
model = b.fit(x_train, y_train)
pred = model.predict(x_test)

In [16]:
accs(pred, y_test)

0.9857142857142858